body{
    margin: 0px;
}

header{
    background-image: url(astugate.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    width: 100%;
    height: auto;
    text-align: center;
}

.logo{
    justify-self: center;
    height: 70px;
    width: 410px;
    background-color: rgb(24, 0, 158);
    border-radius: 40px;
    padding-bottom: 15px;
}
header img{
    width: 60px;
    margin-top: 10px;
}

header p{
    font-size: 60px;
    margin: 0px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 132, 132);
    padding: 10px;
    flex-wrap: wrap;

}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
   
}

nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.background{
    background-image: url(engineering.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    margin: 0px;
    text-align: center;
}

.background h1{
    background-color: rgb(157, 150, 255);
    
}

.main{
    text-align: center;
    padding-bottom: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}
.option{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    margin: 4px;
    box-shadow: 2px 2px 5px ;
    display: grid;
    opacity: 0.8;
}
.option:hover{
    scale: 1.004;
}
.tools{
    text-align: left;
    display: inline-block;  
    vertical-align: top;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin: 0px;
}
.option p{
    margin: 0px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}
.option h1{
    margin: 0px;
    background-color: rgb(156, 138, 255);
}

.tools a{
    font-size: 25px;
    text-decoration: none;

}

.tools a:hover{
    text-decoration: underline;
}

.tools li{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
}
